*{
    margin: 0px;
}
/* common shared styles */
body {
    font-family: 'Open Sans';
}

.text-primary {
    color: #fd6e0a;
}

.button-primary {
    /* padding: 18px 35px 19px 36px; */
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
    margin-right: 15px;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 51px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 51px;
    list-style: none;
    color: #474747;
}

nav a {
    text-decoration: none;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
/* header related style*/
.header{
    background-color: #FFF8F3;
    background-image: url("./header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner2{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner2 .profile-pic{
    width: 500px;
}
.banner-text{
    margin-left: 60px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
    /* margin-left: 60px; */
}
.banner-title{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
    /* margin-left: 60px; */
}
.banner-description{
    width: 500px;
    color: #757575;
    margin-bottom: 25px;
    /* margin-left: 60px; */
}
/* full banner */
.dev-img{
    position: absolute;
    width: 90px;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 17px;
}
.banner{
    margin: 0px;
}
/* banner er kaj shesh */

/* about me er kaj shuru */
.about-me{
    margin: 130px 210px;
}
.about-container{
    background-color: #fef0e6;
    border-radius: 20px;
    padding: 131px 156px;
}
.about-header{
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 30px;
}
.about-description{
    color: #757575;
    text-align:center;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 30px;
}
.personal-info{
    display: flex;
    justify-content: space-between;
}
.info{
    font-size: 15px;
    font-weight: 10;
    text-align: center;
}
/* end of About Me */

/* What I Do */
.What-I-Do{
    margin-top: 130px;
    margin-bottom: 130px;
}
.What-text{
    text-align: center;
}
.What-Desc{
    text-align: center;
    color: #757575;
    width: 800px;
    height: 90px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* Skills */
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 230px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right: 27px;
}
.icon{
    width: 35px;
    padding: 25px 150px 30px 23px;
}
.box-head{
    font-size: 17px;
    font-weight: 700px;
    margin-bottom: 30px;
    margin-left: 23px;
}
.box-text{
    color: #757575;
    font-size: 16px;
    font-weight: 200;
    margin: 0px 23px 25px 23px;
}
/* Skills done */

/* Summary */
.two-blocks{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 230px;
    margin-top: 100px;
    margin-bottom: 58px;
}
.education{
    margin-top: 25px;
}
.block{
    margin-right: 60px;
    color: #757575;
}
.block-head{
    color: #474747;
    margin-bottom: 5px;
}
/* summary done */

/* Form */
.form{
    margin-top: 100px;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
.left{
    width: 450px;
    margin-right: 100px;
}
.footer-head{
    font-size: 35px;
    font-weight: 700;
}
.foot-icon{
    width: 30px;
    margin-right: 7px;
}
.foot-text{
    color: #757575;
    font-size: 14px;
    font-weight: 350px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.main-form{
    margin-top: 25px;
    margin-bottom: 110px;
}
.tab{
    width: 400px;
    height: 20px;
    padding: 15px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid black
}
.message{
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid black
    
}

